.col-lg-11{
    background-color: #444;
    color: #fff;
    border: 7px solid white;
    border-radius: 12px;
    padding: 10px;

}
.col-lg-1{
    background-color: #444;
    color: #fff;
    border: 7px solid white;
    border-radius: 12px;
    padding: 10px;
}
.col-lg-12{
    background-color: #444;
    color: #fff;
    border: 7px solid white;
    border-radius: 12px;
    padding: 10px;
}

.box1{
    height: 70px;
}

.box2{
    height: 300px;
}

.box3{
    height:300px ;
}